body {
  margin: 0;
}
@keyframes changeColor {
  from {
    background-color: transparent;
  }
  to {
    background-color: #0c0c0c;
  }
}
header {
  margin: 0px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  min-width: 100vw;
  z-index: 1000;
  animation: changeColor linear;
  animation-timeline: scroll();
}

h1 {
  margin: 0px;
  font-family: domine;
  font-size: 30px;
  margin-left: 20px;
  color: #ffffff;
}
nav ul {
  margin-top: 15px;
  gap: 15px;
  list-style: none;
  font-family: quicksand;
  font-size: 12px;
  display: flex;
}

nav ul a {
  text-decoration: none;
  color: #ffffff;
  padding: 0px;
}
nav ul a:hover {
  color: #ffbb27;
  transition: color 0.5s ease;
}
.socio-media {
  margin-top: 15px;
  padding-right: 50px;
  color: #ffffff;
  i {
    margin-right: 15px;
  }
}
.socio-media i:hover {
  color: #ffbb27;
  transition: color 0.5s ease;
  cursor: pointer;
  text-align: end;
}
section {
  min-height: 100vh;
  position: relative;
}
.hero-section {
  height: 100vh;
}
.hero-img {
  background: url(../laura_thomson_template/assets/hero-bg.jpg) center/cover;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.transparent {
  background-color: color-mix(in srgb, #060707, transparent 30%);
  height: 100%;
  width: 100%;
  position: absolute;
}

.transparent h2 {
  margin: 0px;
  font-family: domine;
  font-size: 36px;
  text-align: center;
  padding-top: 20%;
  color: #ffffff;
}
.transparent p {
  font-family: roboto;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}
.transparent i {
  font-size: 50px;
  margin-left: 50%;
  color: #ffffff;
}

.introduction-section {
  text-align: center;
  padding-top: 30px;
  .ombre {
    font-family: roboto;
    color: color-mix(in srgb, #3b434a, transparent 80%);
    font-size: 52px;
    font-style: bold !important;
    margin-top: 15px;
    font-weight: 1000;
  }
  h2 {
    color: #3b434a;
    margin: 0px;
    margin-top: -30px;
    font-family: domine;
    font-size: 32px;
    font-weight: 1000;
  }
}
h3 {
  font-family: domine;
  font-size: 26px;
  padding: 10px;
  color: #3b434a;
}
h4 {
  font-family: domine;
  font-size: 16px;
  margin: 0px 0px 10px;
  color: color-mix(in srgb, #444444, transparent 20%);
  margin-left: 10px;
}
p {
  font-family: roboto;
  font-size: 16px;
  color: #444444;
}
.about-container {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  margin-left: 10%;
}
.about-item-img {
  width: 25%;
  height: 100%;
  img {
    width: 100%;
    height: 700px;
  }
}
.about-item-detail {
  margin-left: 0px;
  width: 60%;
  margin-right: 30px;
  h2 {
    font-family: domine;
    font-size: 24px;
    color: #3b434a;
    margin: 0;
  }
  .p-italic {
    color: #444444;
    font-family: roboto;
    font-size: 16px;
    font-style: italic;
  }
  .detail {
    color: #444444;
    font-family: roboto;
    font-size: 16px;
  }
}
.id-container {
  display: flex;
  ul li {
    padding: 10px;
    list-style: none;
    font-family: roboto;
    font-size: 16px;
    color: #444444;
    line-height: 2;
  }
  i {
    color: #ffbb27;
    padding: 10px;
  }
}
.resume-section {
  min-height: 50%;
}
.resume-container {
  display: flex;
  justify-content: space-around;
  padding: 60px;
}

.resume-container-item {
  line-height: 1.5;
  height: 100%;
  width: 48%;
}
.resume-item {
  margin-left: 20px;
  padding-left: 15px;
  border-left: 2px solid#ffbb27;
}
.resume-item h4 {
  position: relative;
  margin: 0px;
  padding: 0;
}
.resume-item ul {
  font-family: roboto;
  font-size: 16px;
  color: #3b434a;
  line-height: 1.8;
}
h5 {
  font-family: domine;
  font-size: 1rem;
  color: #3b434a;
}
.resume-item h4::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border: 2px solid #ffbb27;
  position: absolute;
  border-radius: 50%;
  left: -25px;
}
.service-container {
  padding: 20px;
  display: flex;
  gap: 25px;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;
}
.service-item {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  height: 160px;
  padding: 20px;
  position: 32px;
  width: 100;
}
.service-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}

.service-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: #ffbb27;
  transition: height 0.9s ease;
  z-index: -1;
}

.service-item:hover::before {
  height: 100%;
}

.service-item:hover i {
  transition: height 0.9s ease;
  color: #060707;
}

.service-item .icon {
  color: #ffbb27;
  font-size: 40px;
  padding: 20px;
}
.testimonial {
  position: absolute;
  width: 100%;
  min-height: 550px;
  background: url(https://bootstrapmade.com/content/demo/Laura/assets/img/testimonials-bg.jpg)
    center/cover;
}
.testimonial-transparent {
  position: absolute;
  background-color: color-mix(in srgb, #060707, transparent 30%);
  height: 100%;
  width: 100%;
  position: absolute;
  img {
    border-radius: 50%;
    height: 120px;
    margin-left: 47%;
    margin-top: 120px;
    border: 8px solid #444444;
  }
  h3 {
    color: #ffffff;
    text-align: center;
    padding: 0;
  }
  h4 {
    color: color-mix(in srgb, #ffffff, transparent 40%);
    text-align: center;
  }
  .stars {
    text-align: center;
    color: #ffbb27;
  }
  .testimonial-para {
    text-align: center;
  }
  span {
    text-align: center;
    color: #ffffff;
    font-family: roboto;
    font-size: 16px;
  }
}
.portfolio-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.portfolio-img {
  position: relative;
  overflow: hidden;
  .bi-zoom-in {
    color: #ffffff;
    font-size: 30px;
    font-size: 25px;
    margin-left: 200px;
  }
  .bi-link-45deg {
    color: #ffffff;
    font-size: 30px;
    margin-left: 20px;
  }
}
.portfolio-img {
  position: relative;
  overflow: hidden;
}

.portfolio-img img {
  width: 100%;
  height: 100%;
  display: block;
  transition: transform 0.9s ease;
}

.transp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(39, 40, 41, 0.65);

  opacity: 0;
  visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: opacity 0.7s ease;
  z-index: 2;
}

.portfolio-img:hover img {
  transform: scale(1.1);
}

.portfolio-img:hover .transp {
  opacity: 1;
  visibility: visible;
}
.pricing-section {
  min-height: 50%;
}
.pricing-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.princing-item {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
  height: 400px;
  padding: 20px;
  height: 100%;
}
.princing-item h3 {
  font-size: 18px;
  padding: 30px;
  margin: 0px;
}
.princing-item h4 {
  font-family: roboto;
  font-size: 42px;
  color: #ffbb27;
}
.princing-item span {
  font-family: roboto;
  font-size: 16px;
  color: color-mix(in srgb, #444444, transparent 40%);
}
sup {
  font-size: 20px;
}
.princing-item ul {
  list-style: none;
  padding: 20px 0;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}
.princing-item ul li {
  padding-bottom: 16px;
  font-family: roboto;
  font-size: 14px;
  color: #636262;
}
.princing-item .recommended-badge {
  color: #ffbb27;
  margin: 0px;
  padding: 10px;
  border-radius: 50%;
  background: color-mix(in srgb, #ffbb27, transparent 92%);
}
.princing-item button {
  font-family: domine;
  font-size: 16px;
  background: none;
  border: 2px solid #ffbb27;
  border-radius: 30%;
  padding: 10px;
  width: 100px;
}
.princing-item .btn-by {
  background: #ffbb27;
}
.pricing-section2 {
  min-height: 30%;
}
.princing-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px;
}
.princing-item2 .items {
  border-bottom: 1px dashed color-mix(in srgb, #444444, transparent 60%);
  width: 100%;
  display: flex;
}
.items h3 {
  font-family: domine;
  font-size: 20px;
  color: #3b434a;
  margin: 0px;
}
.items h4 {
  margin: 0px;
  font-family: domine;
  font-size: 18px;
  color: #ffbb27;
  margin: 0px;
  padding: 0px;
}
.between {
  width: 250px;
  margin: 0px;
}
.galey-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}
.galery-item {
  width: 100%;
  overflow: hidden;
}
.galery-item img {
  height: 380px;
  transition: transform 0.9s ease;
}
.galery-item img:hover{
  cursor: pointer;
   transform: scale(1.3);
}
